footer
 .r
  .c5.left
   a(href="tel:+37061550202", title="Mobile phone number") +37061550202
   br
   a(href="mailto:hey@aperture.lt", title="El.pašto adresas") hey@aperture.lt
  .c5
   p.right Nuotraukas be autoriaus sutikimo naudoti draudžiama.<br/> Visos nuotraukų teisės priklauso www.aperture.lt