header
 .r
  .c0.kontaktai
   a(href="tel:+37061550202", title="Mobile phone number") +37061550202 
   a(href="mailto:hey@aperture.lt", title="El.pašto adresas") hey@aperture.lt
   a(href="https://www.facebook.com/wwwApertureLT", title="aperture.lt Facebook puslapis") Facebook
   a(href="https://www.instagram.com/aperture.lt", title="aperture.lt Instagram puslapis") Instagram
 .r
  .c0
   img.center(src="../img/logo.png", alt="Logo")
 .r
  .c0.navigacija
   a.h(href="/", title="Produkto fotografija") Portretai
   a.h(href="/produkto-fotografija/", title="Produkto fotografija") Produkto fotografija
   a.right.registracija(href="/registracija-fotosesijai/", title="Registracija fotosesijai") Registracija fotosesijai
    
