header
 .r
  .c0.kontaktai
   a(href="tel:+37061550202", title="Mobile phone number") +37061550202 
   a(href="mailto:hey@aperture.lt", title="El.pašto adresas") hey@aperture.lt
   a(href="https://www.facebook.com/wwwApertureLT", title="aperture.lt Facebook puslapis") Facebook
 .r
  .c0
   img.center(src="img/logo.png", alt="Logo")
 .r
  .c0
   a.h(href="/", title="Produkto fotografija") Produkto fotografija
   a.h(href="/portretai.html", title="Produkto fotografija") Portretai
   a.right.registracija(href="/registracija-fotosesijai.html", title="Registracija fotosesijai") Registracija fotosesijai
    