header
 .r
  .c0
   img.center(src="img/logo.png", alt="Logo")
 .r
  .c5
   a.right(href="tel:+37061550202", title="Mobile phone number") +37061550202
  .c5
   a.left(href="mailto:hey@aperture.lt", title="El.pašto adresas") hey@aperture.lt