section
 .r
  .c3
   .aprasymas
    p Geros kokybės produkto, gaminio nuotraukos reikalauja kruopštaus pasiruošimo ir nemažai pastangų, dėmesio mažiausioms detalėms, tinkamų įrankių bei nuotraukos apdorojimo.

    p Profesionalioje fotostudijoje aperture.lt įdedame daug darbo, kad galutinė nuotrauka būtų nepriekaištinga ir pranoktų daiktą realybėje. 
    p Siūlome daiktų ir produktų fotografavimo paslaugas:
    ul
     li juvelyrikos dirbinių
     li pakuočių
     li gėrimų
     li stiklo gaminių
     li elektronikos prekių
     li maisto produktų

    p Nuotrauka verta tūkstančio žodžių, tad.. mūsų darbų pavyzdžius galite matyti šioje galerijoje.

   img.img(src="img/stikline-grubleta.jpg", alt="Grublėta stiklinė")
   img.img(src="img/suns-antkaklis.jpg", alt="Šuns antkaklis")
   img.img(src="img/kokos-skardine.jpg", alt="Kokos skardinė")
   img.img(src="img/kavos-puodukas.jpg", alt="Kavos puodukas")
   img.img(src="img/zuvu-taukai.jpg", alt="Žuvų taukai")
   
  .c3
   img.img(src="img/vyno-taure.jpg", alt="Vyno taurė")
   img.img(src="img/prausiklis-sveitiklis-toli.jpg", alt="Prausiklis šveitiklis")
   img.img(src="img/atkuriamasis-sampunas.jpg", alt="Atkuriamasis šampūnas")
   img.img(src="img/kremas-skaidrus-iskirptas.jpg", alt="Kremas")
   img.img(src="img/alus-kanapinis.jpg", alt="Alus Kanapinis tamsus")

  .c3
   img.img(src="img/listerinas-susviestas.jpg", alt="Burnos skalavimo skystis")
   img.img(src="img/sampunas-zolotoj.jpg", alt="Šampūnas Zolotoj")
   img.img(src="img/magnum-vynuogiu-sultys-stiklas.jpg", alt="Magnum vynuogių sultys")
   img.img(src="img/dezodorantas-neskaidrus-iskirptas.jpg", alt="Dezodorantas")
   img.img(src="img/vitaminai.jpg", alt="Mineralai")
   