section
 .r
  .c3
   .aprasymas
    p Geros kokybės produkto, gaminio nuotraukos reikalauja kruopštaus pasiruošimo ir nemažai pastangų, dėmesio mažiausioms detalėms, tinkamų įrankių bei nuotraukos apdorojimo.

    p Profesionalioje fotostudijoje aperture.lt įdedame daug darbo, kad galutinė nuotrauka būtų nepriekaištinga ir pranoktų daiktą realybėje. 
    span Siūlome daiktų ir produktų fotografavimo paslaugas:
    ul
     li juvelyrikos dirbinių
     li pakuočių
     li gėrimų
     li stiklo gaminių
     li elektronikos prekių
     li maisto produktų

    p Nuotrauka verta tūkstančio žodžių, tad.. mūsų darbų pavyzdžius galite matyti šioje galerijoje.

   
   img.img(src="img/laikrodis-anglis.jpg", alt="Laikrodis")
   img.img(src="img/laikrodis-tamsoje.jpg", alt="Laikrodis tamsa")
   img.img(src="img/juvelyrika-ziedas.png", alt="Juvelyrikos fotografavimas - žiedas")
   img.img(src="img/suns-antkaklis.jpg", alt="Šuns antkaklis")
   img.img(src="img/asinis-ratukas.jpg", alt="Staklių detalė")
   
      
  .c3
   img.img(src="img/vyno-taure.jpg", alt="Vyno taurė")
   img.img(src="img/papuosalai-1-logo.png", alt="Juvelyrikos fotografija")
   img.img(src="img/papuosalai-4-logo.png", alt="Juvelyrikos fotografija")
   img.img(src="img/ziedas-1.png", alt="Žuvų taukai") 
   img.img(src="img/auskarai-1.png", alt="Žuvų taukai") 
   img.img(src="img/zuvu-taukai.jpg", alt="Žuvų taukai") 
   img.img(src="img/kokos-skardine.jpg", alt="Kokos skardinė")
   img.img(src="img/blizgus-ratukas.jpg", alt="Apvali metalinė detalė")
   img.img(src="img/filtras.jpg", alt="Metalinis filtras") 

  .c3  
   img.img(src="img/stikline-grubleta.jpg", alt="Grublėta stiklinė")
   img.img(src="img/papuosalai-3-logo.png", alt="Juvelyrikos fotografija")
   img.img(src="img/papuosalai-2-logo.png", alt="Juvelyrikos fotografija")
   img.img(src="img/ziedas-2.png", alt="Žuvų taukai")
   img.img(src="img/sampunas-zolotoj.jpg", alt="Šampūnas Zolotoj")
   img.img(src="img/listerinas-susviestas.jpg", alt="Burnos skalavimo skystis")
   img.img(src="img/ratukas-rudas.jpg", alt="Staklių detalė")
   img.img(src="img/purskiklis-2.jpg", alt="Purškiklis")