section
 .r
  .c3
   .aprasymas
    p Geros kokybės produkto, gaminio nuotraukos reikalauja kruopštaus pasiruošimo ir nemažai pastangų, dėmesio mažiausioms detalėms, tinkamų įrankių bei nuotraukos apdorojimo.

    p Profesionalioje fotostudijoje aperture.lt įdedame daug darbo, kad galutinė nuotrauka būtų nepriekaištinga ir pranoktų daiktą realybėje. 
    span Siūlome daiktų ir produktų fotografavimo paslaugas:
    ul
     li juvelyrikos dirbinių
     li pakuočių
     li gėrimų
     li stiklo gaminių
     li elektronikos prekių
     li maisto produktų

    p Nuotrauka verta tūkstančio žodžių, tad.. mūsų darbų pavyzdžius galite matyti šioje galerijoje.

   img.img(src="img/stikline-grubleta.jpg", alt="Grublėta stiklinė")
   img.img(src="img/suns-antkaklis.jpg", alt="Šuns antkaklis")
   img.img(src="img/kokos-skardine.jpg", alt="Kokos skardinė")
   img.img(src="img/kavos-puodukas.jpg", alt="Kavos puodukas")
   img.img(src="img/zuvu-taukai.jpg", alt="Žuvų taukai")
   img.img(src="img/filtras.jpg", alt="Metalinis filtras")
   img.img(src="img/asinis-ratukas.jpg", alt="Staklių detalė")
   img.img(src="img/pomidoras.jpg", alt="Pomidoras")
   
  .c3
   img.img(src="img/vyno-taure.jpg", alt="Vyno taurė")
   img.img(src="img/prausiklis-sveitiklis-toli.jpg", alt="Prausiklis šveitiklis")
   img.img(src="img/atkuriamasis-sampunas.jpg", alt="Atkuriamasis šampūnas")
   img.img(src="img/kremas-skaidrus-iskirptas.jpg", alt="Kremas")
   img.img(src="img/alus-kanapinis.jpg", alt="Alus Kanapinis tamsus")
   img.img(src="img/purskiklis-1.jpg", alt="Purškiklis")
   img.img(src="img/blizgus-ratukas.jpg", alt="Apvali metalinė detalė")
   img.img(src="img/moliugas.jpg", alt="Moliugas")

  .c3
   img.img(src="img/listerinas-susviestas.jpg", alt="Burnos skalavimo skystis")
   img.img(src="img/sampunas-zolotoj.jpg", alt="Šampūnas Zolotoj")
   img.img(src="img/magnum-vynuogiu-sultys-stiklas.jpg", alt="Magnum vynuogių sultys")
   img.img(src="img/dezodorantas-neskaidrus-iskirptas.jpg", alt="Dezodorantas")
   img.img(src="img/vitaminai.jpg", alt="Mineralai")
   img.img(src="img/purskiklis-2.jpg", alt="Purškiklis")
   img.img(src="img/ratukas-rudas.jpg", alt="Staklių detalė")
   img.img(src="img/arkliukas.jpg", alt="Arkliukas")
   
   