section
 .r
  .c3
   //-    .aprasymas
    //- p Portretinė fotografija reikalauja kruopštaus pasiruošimo ir nemažai pastangų, dėmesio mažiausioms detalėms, tinkamų įrankių bei nuotraukos apdorojimo.

    //- p Profesionalioje fotostudijoje aperture.lt įdedame daug darbo, kad galutinė nuotrauka būtų nepriekaištinga ir pranoktų daiktą realybėje. 

    //- p Nuotrauka verta tūkstančio žodžių, tad.. mūsų darbų pavyzdžius galite matyti šioje galerijoje.

   
   img.img(src="img/egle-vaidyba.png", alt="Portretas")
   img.img(src="img/ugne-kostiumai-1.png", alt="Portretas")
   img.img(src="img/lina-grimas-1.png", alt="Portretas")
   img.img(src="img/donata-crew-1.png", alt="Portretas")
   img.img(src="img/gaja-studija.png", alt="Studijinis portretas")
   img.img(src="img/ana-portretas-studija.png", alt="Studijinis portretas")
   img.img(src="img/gaja-portretas-studija.png", alt="Studijinis portretas")
   img.img(src="img/vejos-plaukai-portretas-studija-beautydish.png", alt="Studijinis portretas")
   
  .c3
   img.img(src="img/jonas-dumas.png", alt="Portretas")
   img.img(src="img/rimvydas-grimas.png", alt="Portretas")
   img.img(src="img/marijus-garsas.png", alt="Portretas")
   img.img(src="img/gytis-dailide.png", alt="Portretas")
   img.img(src="img/greta-portretas-studija-01.png", alt="Studijinis portretas")
   img.img(src="img/ana-portretas-studija-01.png", alt="Studijinis portretas")
   img.img(src="img/veja-portretas-studija.png", alt="Studijinis portretas")
   img.img(src="img/elze-portretas.png", alt="Portretinė fotografija")

  .c3
   img.img(src="img/egle-vaidyba-1.png", alt="Portretas")
   img.img(src="img/ugne-kostiumai.png", alt="Portretas")
   img.img(src="img/lina-grimas.png", alt="Portretas")
   img.img(src="img/donata-crew.png", alt="Portretas")
   img.img(src="img/greta-portretas-studija.png", alt="Studijinis portretas")
   img.img(src="img/barbora-portretas-studija.png", alt="Studijinis portretas")
   img.img(src="img/veja-portretas-studija-beautydish.png", alt="Studijinis portretas")
   img.img(src="img/ana-portretas-studija-02.png", alt="Studijinis portretas")
   
   
   