section
 .r
  .c0
   //-Calendly inline widget begin
   .calendly-inline-widget(data-url="https://calendly.com/www-aperture-lt/60min?hide_event_type_details=0&background_color=f0f0f0&text_color=656565&primary_color=2b2b51")
   script(src="https://assets.calendly.com/assets/external/widget.js")
   //- Calendly inline widget end



   