meta(property="fb:app_id" content=facebook_appid)
meta(property="og:title" content="Fotostudija aperture.lt. Portreto fotografavimas yra duetas – tai fotografo ir fotografuojamo žmogaus bendras kūrinys. Aut.Algimantas Aleksandravičius")
meta(property="og:type" content="website")
meta(property="og:url" content="https://www.aperture.lt/portretai.html")
meta(property="og:image" content="https://www.aperture.lt/img/gaja-studija.png")