meta(property="fb:app_id" content=facebook_appid)
meta(property="og:title" content="Produkto fotografija")
meta(property="og:description" content="Geros kokybės produkto, gaminio nuotraukos reikalauja kruopštaus pasiruošimo ir nemažai pastangų, dėmesio mažiausioms detalėms, tinkamų įrankių bei nuotraukos apdorojimo.")
meta(property="og:type" content="website")
meta(property="og:url" content="https://www.aperture.lt/produkto-fotografija/index.html")
meta(property="og:image" content="https://www.aperture.lt/img/vyno-taure.jpg")
